/*Tyler Yasaka, Victor Rogers, Ben Etheredge*/

#container {
    max-width:960px;
    margin:auto;
    padding:25px;
}

#top {
    text-align:center;
}

h3 {
    color:#05388B;
}

h4 {
    color:#05388B;
}

#register {
    margin:25px auto;
}

#paymentsection input {
    max-width:75px;
}

#selectDiv {
    text-align: center;
}

#selectTesting {
    text-align: center;
}

.center {
    text-align:center;
}

.error {
	color:red;
	padding:4px;
}
